fastapi
uvicorn[standard]
SQLAlchemy>=2.0
mysql-connector-python
pydantic>=2
pydantic-settings
python-jose
passlib[bcrypt]
email-validator
pydantic_settings
PyJWT
pymysql>=1.1
python-dotenv>=1.0   
bcrypt>=4.1
cryptography